@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
nav>h1{
  text-align: center;
  font-family: 'Baloo Bhai', cursive;
  background-color:#0ffb39ad;
}
ul{
  list-style-type: none;
}
#elementoum{
display: inline-block;
position: relative;
    height: 55em;
    top: 3.2em;
    left: -2em;
}

#elementodois{
    display: inline-block;
    position: relative;
    height: 55em;
    top: 1.2em;
    left: 2.5em;
}

#elementotres{
display: inline-block;
position: relative;
left: 6em;
    height: 55em;
    top: 1.7em
}

#elementoquatro{
display: inline-block;
position: relative;
left: -2em;
 height: 55em
 top:-2em;
}

#elementocinco{
display: inline-block;
position: relative;
    left: 2.5em;
height: 55em;
top:-3em;
}

#elementoseis{
display: inline-block;
position: relative;
    height: 55em;
    left: 6em;
    top:-1.5em;

}

#elementosete{
display: inline-block;
position: relative;
left: -2em;
height: 55em;
top:-2em;
}

#elementooito{
display: inline-block;
position: relative;
    left: 2.5em;
height: 55em;
top:-0.5em;
}

#elementonovo{
display: inline-block;
position: relative;
left: 6em;
height: 55em;
top:-0.7em;
}

#elementodez{
display: inline-block;
position: relative;
left: -2em;
  height: 55em;
 top:-1.5em;
}

#elementoonze{
display: inline-block;
position: relative;
   top:-3em;
    height: 55em;
    left: 2.5em;
}

#elementodonze{
display: inline-block;
position: relative;
left: 6em;
height: 55em;
top:-3em;
}


.linhaum{
  text-align: center;
}
.linhadois{
  text-align: center;
  padding-top: 50px;
}
.linhatrez{
  text-align: center;
  padding-top: 40px;
}
.linhaquatro{
  text-align: center;
      padding-top: 50px;
}

body{
  /*background-image: linear-gradient(#00BFFF, #87CEFA ,#AFEEEE);
  */
  background-color: #60c4db;
    height:100%;
}
.card-body {


}
h1{
  color: white;
  
}
h5{

  font-family: cursive;
}
.btn btn-primary {
    color: white;
    background-color: #29e96c;
    border-color: #82f1bf;
  }

/*main{
  background-color: aliceblue;
}*/
