body,head,h1,ul{
    margin: 0;
    border: 0;

}
.info{
    position:relative;
    text-align: center;
    padding-top: 2em;
}
.busca{
    border-radius: 2px;
}
.info-body{
    position: relative;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    top: 2em;
    border: solid 1px;
    background-image: url('caderno.jpg');
    
   
    
      
}
nav{
    text-align: center;
}
nav>ul{
    list-style: none;
}
nav>ul>li{
    display: inline-block;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 30px;
    padding-left: 65px;
    padding-right: 65px;
    text-decoration: none;
    font-weight: bolder;
}
.pagina:hover{
    color: chartreuse;

}
.pagina{
    text-decoration:none; 
    color: white;

}
body{
    background-color: #03a9f4;
}
nav>ul{
    background-color: black;
}
.item{
    height:3.5em;
    width:30em;
}
.busca:hover{
    color:  chartreuse;
}
.busca{
    height:3em;
    width:7em;
 background-color: black;
 color:white;
 border:solid 1px black;
    

}
h1{
    font-size: 4em;
    color: white;
}
p{
    font-size: 25px;
}

