@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
body,ul{
    margin: 0;
    border: 0;
    overflow-x: hidden;
  }
  header{
    background-color: white;
  }
  nav li{
    display: inline-block;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 30px ;
    padding-left: 65px;
    padding-right: 65px;
    text-decoration: none;
    font-weight: bolder;
  }
  nav{
    background-color: #60c4db;
    width: 100%;
      position: relative;
  
  }
  header a{
      text-decoration: none;
      color:#fff;
  }
  main a{
      color:#000;
  }
  ul{
     text-align:center;
  }
  
nav h1{
    margin: 0;
    text-align:center;
  font-size: 50px;
  font-family: 'Baloo', cursive;
  background-color: #28a745;
  color: white;
}  
li{
    text-decoration: none;
  }
  h2{
    text-align: center;
    font-family: cursive;
  }
  h5{
      font-family: cursive;
  }
  h1{
      text-align:center;
  }
  h2{
       text-align: justify;
  }
  

 
  p{
      
 
    padding: 10px;
    margin-left: 15px;
    font-size: 18px;
    color: black;
    text-align: justify;
    position: relative;
    top: 3vh;
    display: block;
    margin: auto;
    margin-left: 1em;
    margin-right: 1em;
  }
  img{
      width:20em;
      position: relative;
      left:2em;
      top: 1em
  }
  h5{
      text-align: justify;
  }
  